<form [formGroup]="form" (ngSubmit)="formSubmitted($event)">
    <div class="row d-flex justify-content-between align-items-center mb-2">
        <div class="col">
            <h1>{{ '::AddNewRecipe' | abpLocalization }}</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="form-group">
                <label for="name">{{ '::Name' | abpLocalization }}</label>
                <input
                    formControlName="name"
                    type="text"
                    class="form-control"
                    id="name"
                    autofocus
                />
            </div>
            <app-admin-category-lookup
                (categorySelected)="categorySelected($event)"
            ></app-admin-category-lookup>
            <button type="submit" class="btn btn-primary btn-block">
                {{ '::Save' | abpLocalization }}
            </button>
        </div>
    </div>
</form>
