<ng-container *ngIf="recipe$ | async as recipe">
    <form [formGroup]="form" (ngSubmit)="formSubmitted($event)">
        <div class="row d-flex justify-content-between align-items-center mb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <h1>{{ recipe.name }}</h1>
                <div>
                    <button
                        (click)="deleteRecipe()"
                        type="button"
                        class="btn btn-danger btn-outline mr-2"
                    >
                        {{ '::Delete' | abpLocalization }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {{ '::Save' | abpLocalization }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group">
                    <label for="name">{{ '::Name' | abpLocalization }}</label>
                    <input formControlName="name" type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="description">{{ '::Description' | abpLocalization }}</label>
                    <textarea
                        formControlName="description"
                        class="form-control"
                        id="description"
                        rows="3"
                    ></textarea>
                </div>
                <app-admin-category-lookup
                    [categoryId]="recipe.categoryId"
                    (categorySelected)="categorySelected($event)"
                ></app-admin-category-lookup>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="photo">{{ '::Photo' | abpLocalization }}</label>
                            <input
                                (change)="photoSelected($event.target.files)"
                                type="file"
                                class="form-control-file"
                                id="photo"
                                accept="image/*"
                            />
                        </div>
                    </div>
                </div>
                <div *ngIf="recipe.photo?.id" class="row">
                    <div class="col">
                        <img
                            [src]="environment.apis.default.url + '/api/files/' + recipe.photo.id"
                            alt="Photo"
                            width="100%"
                        />
                        <span (click)="deletePhoto = true" class="clickable">{{
                            '::Remove' | abpLocalization
                        }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ '::Ingredients' | abpLocalization }}</h2>
                <div class="table-responsive">
                    <table class="table mb-2">
                        <thead>
                            <th>{{ '::Name' | abpLocalization }}</th>
                            <th>{{ '::Amount' | abpLocalization }}</th>
                            <th>{{ '::Unit' | abpLocalization }}</th>
                            <th>{{ '::Actions' | abpLocalization }}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ingredient of form.value.ingredients">
                                <td>{{ ingredient.name }}</td>
                                <td>{{ ingredient.amount }}</td>
                                <td>{{ ingredient.unit }}</td>
                                <td></td>
                            </tr>
                            <tr
                                *ngIf="
                                    !form.value.ingredients || form.value.ingredients.length === 0
                                "
                            >
                                <td colspan="4">
                                    {{ '::NoIngredientsAddedYet' | abpLocalization }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2>{{ '::Steps' | abpLocalization }}</h2>
                <div class="table-responsive">
                    <table class="table mb-2">
                        <thead>
                            <th>{{ '::Number' | abpLocalization }}</th>
                            <th>{{ '::Instructions' | abpLocalization }}</th>
                            <th>{{ '::Actions' | abpLocalization }}</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let instruction of form.value.steps">
                                <td>{{ instruction.number }}</td>
                                <td [innerHTML]="instruction.instructions"></td>
                                <td></td>
                            </tr>
                            <tr *ngIf="!form.value.steps || form.value.steps.length === 0">
                                <td colspan="4">
                                    {{ '::NoStepsAddedYet' | abpLocalization }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">
                    {{ '::Save' | abpLocalization }}
                </button>
            </div>
        </div>
    </form>
</ng-container>
