<ng-container *ngIf="recipe$ | async as recipe">
    <form [formGroup]="form" (ngSubmit)="formSubmitted($event)">
        <div class="row mb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <h1>{{ recipe.name }}</h1>
                <div>
                    <button
                        (click)="deleteRecipe()"
                        type="button"
                        class="btn btn-danger btn-outline mr-2"
                    >
                        {{ '::Delete' | abpLocalization }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {{ '::Save' | abpLocalization }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-5">
                <div class="form-group">
                    <label for="name">{{ '::Name' | abpLocalization }}</label>
                    <input formControlName="name" type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="description">{{ '::Description' | abpLocalization }}</label>
                    <textarea
                        formControlName="description"
                        class="form-control"
                        id="description"
                        rows="3"
                    ></textarea>
                </div>
                <app-admin-category-lookup
                    [categoryId]="recipe.categoryId"
                    (categorySelected)="categorySelected($event)"
                ></app-admin-category-lookup>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label for="forAmount">{{ '::ForAmount' | abpLocalization }}</label>
                    <input
                        formControlName="forAmount"
                        type="text"
                        class="form-control"
                        id="forAmount"
                    />
                </div>
                <div class="form-group">
                    <label for="forUnit">{{ '::ForUnit' | abpLocalization }}</label>
                    <input
                        formControlName="forUnit"
                        type="text"
                        class="form-control"
                        id="forUnit"
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="photo">{{ '::Photo' | abpLocalization }}</label>
                            <input
                                (change)="photoSelected($event.target.files)"
                                type="file"
                                class="form-control-file"
                                id="photo"
                                accept="image/*"
                            />
                        </div>
                    </div>
                </div>
                <div *ngIf="recipe.photo?.id" class="row">
                    <div class="col">
                        <img
                            [src]="environment.apis.default.url + '/api/files/' + recipe.photo.id"
                            alt="Photo"
                            width="100%"
                        />
                        <span (click)="deletePhoto = true" class="clickable">{{
                            '::Remove' | abpLocalization
                        }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ingredients$ | async as ingredients" class="row mb-2">
            <div class="col">
                <div class="row mb-2">
                    <div class="col d-flex justify-content-between align-items-center">
                        <h2>{{ '::Ingredients' | abpLocalization }}</h2>
                        <div>
                            <button (click)="addIngredient()" type="button" class="btn btn-primary">
                                {{ '::AddNewIngredient' | abpLocalization }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-2">
                        <thead>
                            <th>{{ '::Name' | abpLocalization }}</th>
                            <th>{{ '::Amount' | abpLocalization }}</th>
                            <th>{{ '::Unit' | abpLocalization }}</th>
                            <th style="width: 160px">{{ '::Actions' | abpLocalization }}</th>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let ingredient of ingredients | abpSort: 'asc':'sortOrder';
                                    let first = first;
                                    let last = last
                                "
                            >
                                <td>
                                    <span *ngIf="!ingredient.editing">{{ ingredient.name }}</span>
                                    <input
                                        *ngIf="ingredient.editing"
                                        [(ngModel)]="ingredient.name"
                                        [ngModelOptions]="{ standalone: true }"
                                        type="text"
                                        class="form-control"
                                    />
                                </td>
                                <td>
                                    <span *ngIf="!ingredient.editing">{{ ingredient.amount }}</span>
                                    <input
                                        *ngIf="ingredient.editing"
                                        [(ngModel)]="ingredient.amount"
                                        [ngModelOptions]="{ standalone: true }"
                                        type="number"
                                        class="form-control"
                                        required
                                        min="1"
                                    />
                                </td>
                                <td>
                                    <span *ngIf="!ingredient.editing">{{ ingredient.unit }}</span>
                                    <input
                                        *ngIf="ingredient.editing"
                                        [(ngModel)]="ingredient.unit"
                                        [ngModelOptions]="{ standalone: true }"
                                        type="text"
                                        class="form-control"
                                    />
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div (click)="ingredient.editing = !ingredient.editing">
                                            <i class="fas fa-edit mr-4"></i>
                                        </div>
                                        <div (click)="moveIngredient(ingredient, -1)">
                                            <i
                                                class="fas fa-arrow-up mr-4"
                                                [ngClass]="{ 'fa-disabled': first }"
                                            ></i>
                                        </div>
                                        <div (click)="moveIngredient(ingredient, 1)">
                                            <i
                                                class="fas fa-arrow-down mr-4"
                                                [ngClass]="{ 'fa-disabled': last }"
                                            ></i>
                                        </div>
                                        <div (click)="deleteIngredient(ingredient)">
                                            <i class="fas fa-trash-alt"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="ingredients.length === 0">
                                <td colspan="4">
                                    {{ '::NoIngredientsAddedYet' | abpLocalization }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="steps$ | async as steps" class="row mb-2">
            <div class="col">
                <div class="row mb-2">
                    <div class="col d-flex justify-content-between align-items-center">
                        <h2>{{ '::Steps' | abpLocalization }}</h2>
                        <div>
                            <button (click)="addStep()" type="button" class="btn btn-primary">
                                {{ '::AddNewStep' | abpLocalization }}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table mb-2">
                        <thead>
                            <th>{{ '::Number' | abpLocalization }}</th>
                            <th>{{ '::Instructions' | abpLocalization }}</th>
                            <th style="width: 160px">{{ '::Actions' | abpLocalization }}</th>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let step of steps | abpSort: 'asc':'number';
                                    let first = first;
                                    let last = last
                                "
                            >
                                <td>{{ step.number }}</td>
                                <td>
                                    <div
                                        *ngIf="!step.editing"
                                        [innerHTML]="step.instructions"
                                    ></div>
                                    <textarea
                                        *ngIf="step.editing"
                                        [(ngModel)]="step.instructions"
                                        [ngModelOptions]="{ standalone: true }"
                                        rows="3"
                                        class="form-control"
                                    ></textarea>
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <div (click)="step.editing = !step.editing">
                                            <i class="fas fa-edit mr-4"></i>
                                        </div>
                                        <div (click)="moveStep(step, -1)">
                                            <i
                                                class="fas fa-arrow-up mr-4"
                                                [ngClass]="{ 'fa-disabled': first }"
                                            ></i>
                                        </div>
                                        <div (click)="moveStep(step, 1)">
                                            <i
                                                class="fas fa-arrow-down mr-4"
                                                [ngClass]="{ 'fa-disabled': last }"
                                            ></i>
                                        </div>
                                        <div (click)="deleteStep(step)">
                                            <i class="fas fa-trash-alt"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="steps.length === 0">
                                <td colspan="4">
                                    {{ '::NoStepsAddedYet' | abpLocalization }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">
                    {{ '::Save' | abpLocalization }}
                </button>
            </div>
        </div>
    </form>
</ng-container>
