<ng-container *ngIf="category$ | async as category">
    <form [formGroup]="form" (ngSubmit)="formSubmitted($event)">
        <div class="row mb-2">
            <div class="col d-flex justify-content-between align-items-center">
                <h1>{{ category.name }}</h1>
                <div>
                    <button
                        (click)="deleteCategory()"
                        type="button"
                        class="btn btn-danger btn-outline mr-2"
                    >
                        {{ '::Delete' | abpLocalization }}
                    </button>
                    <button type="submit" class="btn btn-primary">
                        {{ '::Save' | abpLocalization }}
                    </button>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                <div class="form-group">
                    <label for="name">{{ '::Name' | abpLocalization }}</label>
                    <input formControlName="name" type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="description">{{ '::Description' | abpLocalization }}</label>
                    <textarea
                        formControlName="description"
                        class="form-control"
                        id="description"
                        rows="3"
                    ></textarea>
                </div>
                <div class="form-group">
                    <label for="sortOrder">{{ '::SortOrder' | abpLocalization }}</label>
                    <input
                        formControlName="sortOrder"
                        type="number"
                        class="form-control"
                        id="sortOrder"
                    />
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="photo">{{ '::Photo' | abpLocalization }}</label>
                            <input
                                (change)="photoSelected($event.target.files)"
                                type="file"
                                class="form-control-file"
                                id="photo"
                                accept="image/*"
                            />
                        </div>
                    </div>
                </div>
                <div *ngIf="category.photo?.id" class="row">
                    <div class="col">
                        <img
                            [src]="environment.apis.default.url + '/api/files/' + category.photo.id"
                            alt="Photo"
                            width="100%"
                        />
                        <span (click)="deletePhoto = true" class="clickable">{{
                            '::Remove' | abpLocalization
                        }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">
                    {{ '::Save' | abpLocalization }}
                </button>
            </div>
        </div>
    </form>
</ng-container>
