<div class="row mb-2">
    <div class="col d-flex justify-content-between align-items-center">
        <h1>{{ '::Recipes' | abpLocalization }}</h1>
        <button routerLink="create" class="btn btn-primary">
            {{ '::Create' | abpLocalization }}
        </button>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>{{ '::Name' | abpLocalization }}</th>
                    <th>{{ '::Description' | abpLocalization }}</th>
                    <th>{{ '::Category' | abpLocalization }}</th>
                </thead>
                <tbody>
                    <tr
                        class="clickable"
                        *ngFor="let recipe of recipes$ | async"
                        [routerLink]="recipe.id"
                    >
                        <td>{{ recipe.name }}</td>
                        <td>{{ recipe.description }}</td>
                        <td>{{ recipe.category?.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
