<div class="row mb-2">
    <div class="col d-flex justify-content-between align-items-center">
        <h1>{{ '::Recipes' | abpLocalization }}</h1>
        <button routerLink="create" class="btn btn-primary">
            {{ '::Create' | abpLocalization }}
        </button>
    </div>
</div>
<div class="row mb-5">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-hover mb-2">
                <thead>
                    <th>{{ '::Name' | abpLocalization }}</th>
                    <th>{{ '::Description' | abpLocalization }}</th>
                    <th>{{ '::Category' | abpLocalization }}</th>
                </thead>
                <tbody>
                    <tr
                        class="clickable"
                        *ngFor="let recipe of recipes$ | async"
                        [routerLink]="recipe.id"
                    >
                        <td>{{ recipe.name }}</td>
                        <td>{{ recipe.description }}</td>
                        <td>{{ recipe.category?.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-between align-items-center">
                <div class="d-inline-block">
                    <span class="mr-2">{{ '::Show' | abpLocalization }}</span>
                    <select
                        (change)="itemsPerPageChanged($event.target.value)"
                        class="form-select form-select-sm mr-2"
                    >
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                    </select>
                    <span class="mr-2">{{ '::recipes' | abpLocalization }}.</span>
                    <span>{{ '::TotalCount' | abpLocalization }}: {{ totalCount$ | async }}</span>
                </div>
                <ng-container *ngIf="pagination$ | async as pagination">
                    <nav *ngIf="pagination.pages.length > 1">
                        <ul class="pagination mb-0">
                            <li
                                *ngFor="let page of pagination.pages"
                                class="page-item clickable"
                                [ngClass]="{
                                    active: page === pagination.currentPage,
                                    clickable: page !== pagination.currentPage
                                }"
                                (click)="currentPageChanged(page)"
                            >
                                <a class="page-link">{{ page }}</a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </div>
        </div>
    </div>
</div>
