<div class="container">
    <div class="row d-flex justify-content-between align-items-center mb-2">
        <h1>{{ '::Recipes' | abpLocalization }}</h1>
        <button routerLink="create" class="btn btn-primary">
            {{ '::Create' | abpLocalization }}
        </button>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>{{ '::Name' | abpLocalization }}</th>
                    <th>{{ '::Description' | abpLocalization }}</th>
                    <th>{{ '::Category' | abpLocalization }}</th>
                </thead>
                <tbody>
                    <tr *ngFor="let recipe of recipes$ | async">
                        <td>{{ recipe.name }}</td>
                        <td>{{ recipe.description }}</td>
                        <td>{{ recipe.category.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-5">
        <button class="btn btn-primary" (click.stop)="testListInputChange()">
            Test list input change
        </button>
    </div>
</div>
